version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: letsplaydb
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=letsplaydb
    command: ["--bind_ip_all"]

volumes:
  mongo_data:
    driver: local